# untrack .* hidden folders
.*

# ommit git files from this rule
!.gitignore
!.gitmodules
!.hydra

# Define a rule to hide specific folder and files
__*
# Ommit __init__.py (s) from this rule
!__init__.py
modules/*

# ignore cached compiled python  
*__pycache__*
