# torch==1.7.1 => Only tested on pytorch 1.7.1
# hydra-core => should be installed separately

omegaconf
pykdtree
matplotlib
tqdm
pandas
scipy
tensorboard
numba

# cv2 -- Optional : not having OpenCV installed will deactivate some functionalities