# torch==1.7.1 => Only tested on pytorch 1.7.1
# hydra-core => should be installed separately

omegaconf
pykdtree
matplotlib
seaborn
tqdm
pandas
scipy
tensorboard
numba
open3d # For IO + Visualization purposes
torchvision
typeguard

# cv2 -- Optional : not having OpenCV installed will deactivate some functionalities